<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>

<body>
    <center>
        <div id="homepage">
            <h1 class="display-3" id="title">Goal</h1>
            <h1 class="display-3" id="title">Diggers</h1>
        </div>          
        <div id="start-container">
            <button class="button button2" onclick="window.location.href = 'start';">Start</button>
        </div>
    </center>

